@font-face {
    font-family: 'IceCream';
    src: url(../font/Average-Regular.ttf) format('ttf');
}

body {
    margin: 0;
    padding: 0;
}

footer {
    padding: 40px 20px;
}

footer p {
    margin-top: 20px;
}

main {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main div{
    margin: 0 auto;
    margin-top: 20px;
}

.menu {
    background: linear-gradient(to bottom, white, #F2CFCF);
}

.nav-item>.nav-link {
    color: #553230;

    font-weight: 600;
    font-size: 16px;

    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;
    height: 70px;
    line-height: 20px;

    border-radius: 10px;
    margin-left: 10px;

    width: 90px;
    /* Largura padrão para telas grandes de computador */

    /* Media query para telas de celular */
    @media(max-width: 767px) {
        width: 100%;
        /* Largura de 100% em telas de celular */
    }
}

.menu .ativo {
    background-color: #8C2730;
    color: white;
}

.nav-item>.nav-link:hover {
    background-color: #8C2730;
    color: white;
}

.contatos>a,
.contatos-footer>a {
    text-decoration: none;
    margin-left: 10px;
    margin-top: 20px;
}

.contatos i {
    font-size: 30px;

    /* Media query para telas de celular */
    @media (max-width: 767px) {
        margin: 20px;
        font-size: 50px;
    }

}

.contatos-footer {
    display: flex;
    justify-content: space-around;
}
.contatos{
    margin-bottom: 14px;
    margin-right: 10px;  
}
.linkWhats{
    margin-right: 10px; 
}



.tela {
    height: 830px;
    width: 428px;
    background-color: greenyellow;
    /* overflow-x:hidden; */
}

.title {
    height: 93px;
    width: 428px;
    background: linear-gradient(to bottom, white, #F2CFCF);
    display: flex;
    flex-direction: row;
    position: relative;

}

.logo {
    height: 129px;
    transform: scale(1.8);
    position: absolute;


    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
    /* margin-left: 30px; */
}

.optionOdd {
    height: 93px;
    width: 400px;
    background-color: #B26F6E;
    display: flex;
    flex-direction: row;
    word-wrap: break-word;
}

.optionPair {
    height: 93px;
    /* width: 390px; */
    width: 400px;
    background: linear-gradient(to bottom, white, #F2CFCF);
    display: flex;
    flex-direction: row;
}

.optionFinal {
    height: 93px;
    /* width: 390px; */
    width: 400px;
    background: linear-gradient(to bottom, #F2CFCF, white);
    display: flex;
    flex-direction: row;
}

.image {
    height: 93px;
    width: 112px;
    background-color: blue;
}

#iconimage1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

#iconimage2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.icon {
    height: 50px;
    width: 50px;
    background-color: #B26F6E;
    border-radius: 10px;
    cursor: pointer;
}

.logoWhats {
    height: 50px;
    width: 50px;
}

.LogoInsta {
    height: 50px;
    width: 50px;
}

.option {
    height: 93px;
    width: 166px;
    /* background-color: red; */
    font-size: 36px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
}

.option_title {
    height: 93px;
    width: 470px;
    font-size: 36px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;

}

.p {
    font-family: 'IceCream';
}

.option>p>span {
    display: block;
    line-height: 0.4;
}

