*{
    font-family: Arial;
}
body{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: center;
    height: 120px;
    width: 100%;
    background: linear-gradient(to bottom, white, #F2CFCF);
    z-index: 1000;
    position: fixed;
}

.container{
    display: flex;
    justify-content: space-between;
    width: 1100px;
    

}
.logo{
    display: flex;
    align-items: center;
}
.menu{
    display: flex;
    align-items: center;
}

nav ul,
nav li{
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul{
    display: flex;
    
}
nav a{
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    justify-content: center;
    color: #553230;
    
}
nav .active a,
nav a:hover{
    background-color: #8C2730;
    color: white;
    border-radius: 10px;
}
#produtos{
    margin-top: 155px;
    margin-bottom: 45px;
}
.content{
    width: 300px;
    height: 630px;
    margin: 15px;
    box-sizing:border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    /* cursor: pointer; */
    padding-top: 10px;
    box-shadow: 0 14px 28px rgb(0,0,0.25),
    0 10px 10px rgb(0,0,0.22);
    transition: .4s;
    background: #f2f2f2;
}
/* .content:hover{
    box-shadow: 0 3px 6px rgb(0,0,0.16),
    0 3px 6px rgb(0,0,0.23);
    transform: translate(0px, -8px);
} */
.produto{
    width: 200px;
    height: 180px;
    text-align: center;
    margin: 0 auto;
    display: block;
}
#tortamedia{
    width: 210px;
    height: 180px;
    transform: scale(1.2);
    text-align: center;
    margin: 0 auto;
    display: block;
    
}
p{
    text-align: center;
    color: #b2bec3;
    padding-top: 8px;
    padding-right: 8px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 0;
    font-size: 15px;
    color: rgb(0, 0, 0);
    /* background-color: red; */
}
h3{
    text-align: center;
    font-size: 27px;
    margin: 0;
    padding-top: 10px;
    margin-left: 25px;
    padding-bottom: -40px;
    margin-right: 25px;
}
h6{
    padding-top: 50px;
    font-size: 26px;
    text-align: center;
    color: #222f3e;
    margin: 0;
    margin-bottom: 10px;
    /* background-color: red; */
}




.column{
    flex-direction: column;
}

#geral{
    display: flex;
    justify-content: center;
}

#geral section{
    flex: 2;
}
#geral aside{
    flex: 1;
}

.widget_title{
    margin-bottom: 8px;
    margin-top: -5px;
    text-decoration: none;
}
.widget_title_text{
    color: black;
    font-size: 21px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}


footer{
    /* background-color: rgba(145, 215, 242, 0.534); */
    background-color: rgb(145, 218, 242);
    display: flex;
    justify-content: center;
}
.footer_menu{
    display: flex;
   
}
.footer_area{
    display: flex;
    align-items: center;
    /* background-color: #2b4c99; */
    height: 200px;
}
#logoredonda{
    margin-top: 20px;
    height: 210px;
    width: 210px;
    /* background-color: red; */
    margin-left: -75px;
}
.footer_areaitem{
    flex: 1;
    justify-content: center;
    text-align: center;
    height: 180px;
    color: white;
}
.flexColumn{
    flex-direction: column;
}

footer .widget_title_text{
    /* color: rgb(158, 42, 52); */
    color: #8C2730;
}

#redessociais{
    display: flex;
    justify-content: space-around;
    font-size: 50px;
    margin-top: 4px;
}
hr{
    width: 100%;
    color: rgb(24, 196, 101);

}
.footer_copy{
    border-top: 1px solid white;
    border-width: 100%;
    height: 40px;
    width: 100%;
    line-height: 30px;
    color:white;
    font-size: 12px;
    margin-top: 90px;
    text-indent: 3px;
}
.menuMobile{
    
    display: none;
    width: 20px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
    
}
.mm_line{
    height: 2px;
    width: 25px;
    background-color:  rgb(65, 63, 63);
    width: 20px;
    

}

 @media (max-width: 884px ){  /* //tablet// */
    .logo > a  {
        width: 47%;
        
    }
    .menu > nav > ul > li > a{
        font-size:11px;
        padding: 7px;
    }
    nav > ul{
        padding-right:20px;
    }
    #logoredonda{
        transform: scale(0.96);
        margin-left: 10px;
        margin-right: 9px;

    }

    .widget_title_text{
        font-size: 18px;
    }
    .footer_areaitem > iframe{
        width: 90%;
    }
    .linkWhats{
        font-size: 85%;
    }
    .iconwhats{
        font-size: 85%;
    }
    .footer_copy{
        text-indent: 10px;
    }
    
    .content{
        width: 57%;
        height: 725px;
    }
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
} 
@media(max-width:767px){
    body{
        overflow-x: hidden; 
    }
    .logo > a  {
        text-indent: 0;
        /* margin-right: 60px; */
        margin-left: -50px;
    }

    .footer_area{
        /* background-color: red; */
        height:600px;
    }
    .footer_areaitem{
        margin-bottom: 20px;
    }
    .widget_title{
        margin-top: 55px;
    }
    #redessociais > a{
        margin-top: -5px;
    }
    #contatos{
        margin-top: 132px;
    }
    .footer_copy{
        /* background-color: blue; */
        margin-top: 30px;
        margin-bottom: 0px;
        padding-bottom: 0px;
        font-size: 11px;
    }

    .content{
        width: 50%;
        height: 540px;
    }

    
   
}

 @media(max-width:768px){  /* 768  1280*/

    body{
        overflow-x: hidden; 
    }

    .logo {
        width: 120%;
        transform: scale(1.1);
    }
    .logo > a  {
        text-indent: 30px;
    }
    nav .active a,
    nav a:hover{
        background-color: #8C2730;
        color: white;
        border-radius: 0px;
    }
    nav a,
    nav .active a,
    nav a:hover{
        text-align: center;
        height: 45px;
        font-weight: bold;
        
    }

    nav > ul > li > a{
        display: flex;
        white-space: pre-line;
        justify-content: center;
        align-items: center;
        text-align: center;

    }
   
    #tortas{
        font-size: 17px;
        padding-right: 8px;
    }
    #sorvete{
        font-size: 17px;
    }
    #milk{
        margin-left: -10px;
        font-size: 17px;
    }
    #picole{
        margin-left: -24px;
        font-size: 17px;
        text-indent: 40px;
        padding-right: 18px;

    }
    #tacas{
        font-size: 17px;
        margin-top: 20px;
        padding-bottom: 20px;
       
    }
    #acai{
        font-size: 17px;
    }
    #novidades{
        font-size: 17px;
    }
    #shake{
        font-size: 17px;
        padding-left: 5px;
    }
    #bombons{
        font-size: 17px;
        padding-right: 8px;
    }
    #sorvete{
        font-size: 17px; 
        padding-left: 2px;
    }
    #laranjinha{
        font-size: 17px;
        padding-left: 5px;
    }
    #potes{
        font-size: 17px;
        padding-right: 18px;
    }
    #caixas{
        font-size: 17px;
        padding-left: 4px;
    }
    #de1{
        margin-left: -15px;
        font-size: 17px;
        padding-right: 8px;

    }
    #de2{
        margin-left: -15px;
        font-size: 17px;
        padding-right: 8px;

    }
    #e1{
        margin-left: -40px;
        font-size: 17px;
        padding-right: 5px;
        
    }
    #e2{
        margin-left: -20px;
        font-size: 17px;
        padding-right: 8px;
    }

    
    
    .container{
        flex-direction: column;
    }
    #geral section,
    #geral aside{
        padding: 20px;
    }
    
    .footer_menu{
        flex-direction: column;
    }
    .footer_area{
        flex-direction: column;
        padding: 20px;
    }
    .footer_copy{
        padding-left: 20px;
    }

    header .container{
        flex-direction: row;
    }
    nav ul{
        flex-direction: column;
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: white;

    }
    header{
        height: auto;
    }
    .logo{
        padding-left: 20px;
    }
    .menuMobile{
        border: 1px solid rgb(65, 63, 63);
        border-radius: 9px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 7px;
        width: 47px;
        height: 32px;
        
        /* cursor: pointer; */
    }

    .menuMobile:focus{
        border: 4px solid rgb(85, 82, 82);
    }

    .footer_area{
        /* background-color: red; */
        height:600px;
    }
    .footer_areaitem{
        margin-bottom: 20px;
    }
    .widget_title{
        margin-top: 55px;
    }
    #redessociais > a{
        margin-top: -5px;
    }
    #contatos{
        margin-top: 132px;
    }
    .footer_copy{
        /* background-color: blue; */
        margin-top: 30px;
        margin-bottom: 0px;
        padding-bottom: 0px;
        font-size: 11px;
    }
    .content{
        height: 540px;
    }
    p{
        margin-bottom: -10px;
    }
    
}

@media (max-width: 725px){
    p{
        margin-bottom: -28px;
    }
}

@media (max-width: 699px){
    .content{
        height: 555px;
    }
    p{
        margin-bottom: -32px;
    }
}

@media (max-width: 630px){
    .content{
        height: 560px;
    }
    p{
        margin-bottom: -34px;
    }
}
@media (max-width: 590px) {
    .content{
        height: 586px;
    }
    p{
        margin-bottom: -33px;
    }
}
@media (max-width: 570px){
    .content{
        height: 603px;
    }
    p{
        margin-bottom: -33px;
    }
}
@media (max-width: 570px){
    .content{
        height: 653px;
    }
    p{
        margin-bottom: -33px;
    }
}


@media(max-width:510px){
    .content{
        width: 80%;
        height: 600px;
    }
    p{
        margin-bottom: 30px;
    }
}
@media(max-width:440px){
    p{
        margin-bottom: -20px;
    }
}
@media(max-width:370px){
    p{
        margin-bottom: -30px;
    }
    .content{
        height: 620px;
    }
}
@media(max-width:350px){
    p{
        margin-bottom: -30px;
    }
    .content{
        height: 630px;
    }
}
@media(max-width:350px){
    p{
        margin-bottom: -30px;
    }
    .content{
        height: 630px;
    }
}
@media(max-width:340px){
    p{
        margin-bottom: -30px;
    }
    .content{
        height: 670px;
    }
}
@media(max-width:330px){
    p{
        margin-bottom: -34px;
    }
    .content{
        height: 680px;
    }
}



@media(max-width:928px) and (max-height:428px) {
    body{
        overflow-x: hidden; 
    }
    nav li, nav a{
        padding: 0;
        margin: 0;
    }
    nav ul{
        padding: -20px;
        margin-top: -20px;
        top: 68px;
        background-color: rgb(31, 168, 168);
        color: rgba(255, 0, 0, 0);
        position: absolute;
    }
    #menuSombra{
        background-color: #ffffff00
    }
    nav a{
        line-height: 0.5;
        padding: 0;
    }
    nav ul {
        padding-top: 50px;
        overflow-y: auto; /* Adicione esta linha para habilitar a rolagem vertical */
        height: 250px; /* Defina a altura máxima para a lista, ajuste conforme necessário */
    }
    nav ul li:first-child {
        margin-top: -10px; /* Valor negativo igual ao padding-top do nav ul */
    }

    .logo {
        width: 120%;
        transform: scale(1.1);
    }
    .logo > a  {
        text-indent: 30px;
    }
    nav .active a,
    nav a:hover{
        background-color: #8C2730;
        color: white;
        border-radius: 0px;
    }
    nav a,
    nav .active a,
    nav a:hover{
        text-align: center;
        height: 45px;
        font-weight: bold;
        
    }

    nav > ul > li > a{
        display: flex;
        white-space: pre-line;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #tortas{
        font-size: 17px;
        padding-right: 8px;
    }
    #sorvete{
        font-size: 17px;
    }
    #milk{
        margin-left: -10px;
        font-size: 17px;
    }
    #picole{
        margin-left: -24px;
        font-size: 17px;
        text-indent: 40px;
        padding-right: 18px;

    }
    #tacas{
        font-size: 17px;
        margin-top: 20px;
        padding-bottom: 20px;
       
    }
    #acai{
        font-size: 17px;
    }
    #novidades{
        font-size: 17px;
    }
    #shake{
        font-size: 17px;
        padding-left: 5px;
    }
    #bombons{
        font-size: 17px;
        padding-right: 8px;
    }
    #sorvete{
        font-size: 17px; 
        padding-left: 2px;
    }
    #laranjinha{
        font-size: 17px;
        padding-left: 5px;
    }
    #potes{
        font-size: 17px;
        padding-right: 18px;
    }
    #caixas{
        font-size: 17px;
        padding-left: 4px;
    }
    #de1{
        margin-left: -15px;
        font-size: 17px;
        padding-right: 8px;

    }
    #de2{
        margin-left: -15px;
        font-size: 17px;
        padding-right: 8px;

    }
    #e1{
        margin-left: -40px;
        font-size: 17px;
        padding-right: 5px;
        
    }
    #e2{
        margin-left: -20px;
        font-size: 17px;
        padding-right: 8px;
    }

    
    
    .container{
        flex-direction: column;
    }
    #geral section,
    #geral aside{
        padding: 20px;
    }
    
    .footer_menu{
        flex-direction: column;
    }
    .footer_area{
        flex-direction: column;
        padding: 20px;
    }
    .footer_copy{
        padding-left: 20px;
    }

    header .container{
        flex-direction: row;
    }
    nav ul{
        flex-direction: column;
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: white;

    }
    .logo{
        padding-left: 20px;
    }
    .menuMobile{
        border: 1px solid rgb(65, 63, 63);
        border-radius: 9px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 7px;
        width: 47px;
        height: 32px;
        /* margin-right: 20px; */
        
        /* cursor: pointer; */
    }

    .menuMobile::before{
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: -10px; 
        right: -10px;
        
        /* cursor: pointer; */
    }
    .menu > nav{
        overflow-y: auto;
    }
    
    .menu > nav > ul > li > a{
        font-size:11px;
        padding: 0px;
        margin-top: -18px;
        margin-bottom: 18px;
    }

    header{
        display: flex;
        justify-content: center;
        height: 70px;
        width: 100%;
        background: linear-gradient(to bottom, white, #F2CFCF);
        z-index: 1000;
        position: fixed;

    }

    .menuMobile:focus{
        border: 4px solid rgb(85, 82, 82);
    }

    .footer_area{
        /* background-color: red; */
        height:600px;
    }
    .footer_areaitem{
        margin-bottom: 20px;
    }
    .widget_title{
        margin-top: 55px;
    }
    #redessociais > a{
        margin-top: -5px;
    }
    #contatos{
        margin-top: 132px;
    }
    .footer_copy{
        /* background-color: blue; */
        margin-top: 30px;
        margin-bottom: 0px;
        padding-bottom: 0px;
        font-size: 11px;
    }
    .content{
        height: 540px;
    }
    p{
        margin-bottom: -10px;
    }
    
    
}


